* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page {
    display: flex;
    flex-wrap: wrap;
    font-family: Arial, sans-serif;
}
.section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
a {
    text-decoration: none;
    color: inherit;
}
.menu-container {
    padding-top: 10px;
    padding-right: 20px;
    justify-content: flex-end;
}
.menu {
    width: 241.6px;
    justify-content: space-around;
    font-size: 13px;
}
.sign-in {
    color: #fff;
    background-color: #4386f9;
    height: 30px;
    width: 70px;
    border-radius: 2px;
    font-weight: bold;
    box-sizing: border-box;
    text-align: center;
    line-height: 30px;
}
.gmail,
.images {
    opacity: 0.85;
}
.apps-icon {
    opacity: 0.5;
}
.gmail:hover,
.images:hover,
.apps-icon:hover, 
.filipino:hover,
.cebuano:hover {
    text-decoration: underline;
    opacity: 1;
}
.logo {
    height: 222px;
    padding-top: 100px;
    align-items: initial;
}
.logo img {
    height: 92px;
}
.search-container {
    height: 44px;
}
.search {
    height: 44px;
    width: 582px;
    border-radius: 25px;
    border: 1px solid #dfe1e5;
}
.search:hover,
.search:focus-within {
        box-shadow: 
            0 10px 5px -5px #ccc,
            0 -5px 5px -5px #ccc;
}
.search input {
    height: 34px;
    width: 565px;
    border: none;
    background-image: url('images/search-icon.png');
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: 10px 10px;
    background-color: #fff;
    background-blend-mode: hard-light;
    padding-left: 40px;
    font-size: 16px;
}
.buttons {
    height: 100px;
    font-size: 14px;
}
.google-search, 
.feeling-lucky {
    text-align: center;
    line-height: 36px;
    border-radius: 3px;
    width: 128px;
    height: 36px;
    color: #5f6368;
    background-color: #f2f2f2;
    margin: 0 6px;
}
.google-search:hover,
.feeling-lucky:hover {
    color: rgb(27, 27, 27);
    border: 0.5px solid darkgray;
    box-shadow: 
            0 5px 5px -5px #ccc;
}
.misc-language {
    height: 12px;
    font-size: 12px;
}
.misc-language a {
    margin: 0 6px;
    color: #1a0dab;
}
.footer {
    width: 100%;
    color: #717171;
    background-color: #f2f2f2;
    border: 1px solid #e4e4e4;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.footer-loc {
    height: 40px;
    position: absolute;
    bottom: 40px;
}
.footer-misc {
    height: 40px;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
}
.footer-one {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    padding-left: 20px;
}
.footer-two {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
    padding-right: 20px;
}
.footer-buttons {
    margin: 0 8px;
    font-size: 14px;
}
.footer-buttons:hover {
    color: #717171;
    text-decoration: underline;
}